apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  interval: 15m
  chart:
    spec:
      chart: qbittorrent
      version: 24.2.20
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  postRenderers:
  - kustomize:
      patches:
        - target:
            version: v1
            kind: Deployment
            name: qbittorrent
          patch: |
            - op: add
              path: /spec/template/spec/containers/1/resources/limits/truecharts.org~1tun
              value: 1
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:  
      cloudflare-r2:
        accessKey: "${CLOUDFLARE_R2_ACCESS}"
        bucket: qbittorrent-scale
        encrKey: "${CLOUDFLARE_R2_ENCRKEY}"
        name: cloudflare-r2
        path: ""
        secretKey: "${CLOUDFLARE_R2_SECRET}"
        type: s3
        url: "${CLOUDFLARE_R2_URL}"
    qbitportforward:
      enabled: true
      QBT_USERNAME: "${QBT_ADMIN}"
      QBT_PASSWORD: "${QBT_PW}"
    addons:
      gluetun:
        enabled: true
        container:
          resources:
            limits:
              truecharts.org/tun: 1
          env:
            FIREWALL: "on"
            FIREWALL_OUTBOUND_SUBNETS: "192.168.0.0/24"
            VPN_SERVICE_PROVIDER: "private internet access"
            VPN_TYPE: "openvpn"
            OPENVPN_USER: "${VPN_USER}"
            OPENVPN_PASSWORD: "${VPN_PW}"
            VPN_PORT_FORWARDING: true
            PORT_FORWARD_ONLY: true
            FIREWALL_INPUT_PORTS: 10095,8000
    configmap:
      gluetun-auth-config:
        enabled: true
        data:
          config.toml: >-
            [[roles]]

            name = "qbittorrent"

            routes = ["GET /v1/vpn/status","GET /v1/publicip/ip","GET /v1/openvpn/portforwarded"]

            auth = "none"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
          traefik:
            enabled: false
        hosts:
          - host: qbittorrent.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        volsync:
          - credentials: cloudflare-r2
            dest:
              enabled: true
            name: config
            src:
              enabled: true
            type: restic
      streaming:
        enabled: true
        type: nfs
        path: /mnt/FTKStreaming/Streaming
        mountPath: /streaming
        server: 192.168.0.2
      gluetun-auth-config:
        enabled: true
        type: configmap
        mountPath: /gluetun/auth/config.toml
        objectName: gluetun-auth-config
        readOnly: true
        subPath: config.toml
        targetSelectAll: true