apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflareddns
    namespace: cloudflareddns
spec:
    interval: 15m
    chart:
        spec:
            chart: cloudflareddns
            version: 12.14.13
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    values:
        cloudflareddns:
            api_token: ${CLOUDFLARE_DDNS_TOKEN}
            host_zone_record:
                - domain: ${DOMAIN_0}
                  record: A
                  zone: ${CLOUDFLARE_DDNS_ZONE}
        persistence:
            config:
                enabled: true
                mountPath: /config